<!doctype html>
<html lang="pt-br" layout:decorate="~{layout}">

<head>
 	
    <title>e-livro</title>
</head>

<body>


    <!--inicío área de conteúdo-->
    <section layout:fragment="corpo">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="mt-3 bg-light d-flex justify-content-left flex-wrap">
                        <!--inicio produtos-->
                        <div class="item-produto  d-flex justify-content-center flex-wrap p-3">
                            <a href="">
                                <img class="img-produto m-auto" src="img/livros/hp-pedra-filosofal.jpg" alt="">
                            </a>
                            <div class="info-produto m-auto">
                                <a class="link-nome-produto" href="">
                                    <h6>Harry Potter e A Pedra Filosofal 1 - Capa Dura</h6>
                                </a>
                                <p class="autor-produto">Rowling,J. K.</p>
                                <h4 class="preco-produto display-6">R$36,00</h4>
                                <a class="btn btn-outline-dark btn-lg" href="">Saiba mais</a>

                            </div>
                        </div>

                        <div class="item-produto d-flex justify-content-center flex-wrap p-3">
                            <a href="">
                                <img class="img-produto m-auto" src="img/livros/hp-prisoneiro-azcaban.webp" alt="">
                            </a>
                            <div class="info-produto m-auto">
                                <a class="link-nome-produto" href="">
                                    <h6>Harry Potter e O Prisioneiro De Azkaban 3 - Capa Dura</h6>
                                </a>
                                <p class="autor-produto">Rowling,J. K.</p>
                                <h4 class="preco-produto display-6">R$36,00</h4>
                                <a class="btn btn-outline-dark btn-lg" href="">Saiba mais</a>

                            </div>
                        </div>

                        <div class="item-produto d-flex justify-content-center flex-wrap p-3">
                            <a href="">
                                <img class="img-produto m-auto" src="img/livros/narnia.jpg" alt="">
                            </a>
                            <div class="info-produto m-auto">
                                <a class="link-nome-produto" href="">
                                    <h6>As Crônicas De Nárnia - Volume Único</h6>
                                </a>
                                <p class="autor-produto">Lewis, Clive Staples</p>
                                <h4 class="preco-produto display-6">R$40,00</h4>
                                <a class="btn btn-outline-dark btn-lg" href="">Saiba mais</a>

                            </div>
                        </div>
                        <div class="item-produto d-flex justify-content-center flex-wrap p-3">
                            <a href="">
                                <img class="img-produto m-auto" src="img/livros/hp-pedra-filosofal.jpg" alt="">
                            </a>
                            <div class="info-produto m-auto">
                                <a class="link-nome-produto" href="">
                                    <h6>Harry Potter e A Pedra Filosofal 1 - Capa Dura</h6>
                                </a>
                                <p class="autor-produto">Rowling,J. K.</p>
                                <h4 class="preco-produto display-6">R$36,00</h4>
                                <a class="btn btn-outline-dark btn-lg" href="">Saiba mais</a>

                            </div>
                        </div>

                        <div class="item-produto d-flex justify-content-center flex-wrap p-3">
                            <a href="">
                                <img class="img-produto m-auto" src="img/livros/hp-prisoneiro-azcaban.webp" alt="">
                            </a>
                            <div class="info-produto m-auto">
                                <a class="link-nome-produto" href="">
                                    <h6>Harry Potter e O Prisioneiro De Azkaban 3 - Capa Dura</h6>
                                </a>
                                <p class="autor-produto">Rowling,J. K.</p>
                                <h4 class="preco-produto display-6">R$36,00</h4>
                                <a class="btn btn-outline-dark btn-lg" href="">Saiba mais</a>

                            </div>
                        </div>

                        <div class="item-produto d-flex justify-content-center flex-wrap p-3">
                            <a href="">
                                <img class="img-produto m-auto" src="img/livros/narnia.jpg" alt="">
                            </a>
                            <div class="info-produto m-auto">
                                <a class="link-nome-produto" href="">
                                    <h6>As Crônicas De Nárnia - Volume Único</h6>
                                </a>
                                <p class="autor-produto">Lewis, Clive Staples</p>
                                <h4 class="preco-produto display-6">R$40,00</h4>
                                <a class="btn btn-outline-dark btn-lg" href="">Saiba mais</a>

                            </div>

                        </div>
                        <div class="item-produto d-flex justify-content-center flex-wrap p-3">
                            <a href="">
                                <img class="img-produto m-auto" src="img/livros/hp-pedra-filosofal.jpg" alt="">
                            </a>
                            <div class="info-produto m-auto">
                                <a class="link-nome-produto" href="">
                                    <h6>Harry Potter e A Pedra Filosofal 1 - Capa Dura</h6>
                                </a>
                                <p class="autor-produto">Rowling,J. K.</p>
                                <h4 class="preco-produto display-6">R$36,00</h4>
                                <a class="btn btn-outline-dark btn-lg" href="">Saiba mais</a>

                            </div>
                        </div>

                        <div class="item-produto  d-flex justify-content-center flex-wrap p-3">
                            <a href="">
                                <img class="img-produto m-auto" src="img/livros/hp-prisoneiro-azcaban.webp" alt="">
                            </a>
                            <div class="info-produto m-auto">
                                <a class="link-nome-produto" href="">
                                    <h6>Harry Potter e O Prisioneiro De Azkaban 3 - Capa Dura</h6>
                                </a>
                                <p class="autor-produto">Rowling,J. K.</p>
                                <h4 class="preco-produto display-6">R$36,00</h4>
                                <a class="btn btn-outline-dark btn-lg" href="">Saiba mais</a>

                            </div>
                        </div>

                        <div class="item-produto  d-flex justify-content-center flex-wrap p-3">
                            <a href="">
                                <img class="img-produto m-auto" src="img/livros/narnia.jpg" alt="">
                            </a>
                            <div class="info-produto m-auto">
                                <a class="link-nome-produto" href="">
                                    <h6>As Crônicas De Nárnia - Volume Único</h6>
                                </a>
                                <p class="autor-produto">Lewis, Clive Staples</p>
                                <h4 class="preco-produto display-6">R$40,00</h4>
                                <a class="btn btn-outline-dark btn-lg" href="">Saiba mais</a>

                            </div>

                        </div>
                        <!--fim produtos-->
                    </div>
                </div>
                <!--fim área de conteúdo-->
                
                <!--inicio barra lateral-->
                <div class="col-lg-3 d-none d-lg-block ">
                    <div class=" container mt-3 bg-light p-2">
                        <!--inicio categorias-->
                        <h5 class="h5 p-1 fw-light">Categorias</h5>
                        <ul class="navbar-nav p-1">
                            <li class="navegacao-categoria">
                                <a class="link-categoria" href="">história e geografia</a>
                            </li>
                            <li class="navegacao-categoria">
                                <a class="link-categoria" href="">direito</a>
                            </li>
                            <li class="navegacao-categoria">
                                <a class="link-categoria" href="">comunicação e linguística</a>
                            </li>
                            <li class="navegacao-categoria">
                                <a class="link-categoria" href="">medicina e saúde</a>
                            </li>
                            <li class="navegacao-categoria">
                                <a class="link-categoria" href="">literatura e hqs</a>
                            </li>
                            <li class="navegacao-categoria">
                                <a class="link-categoria" href="">ciências humanas e sociais</a>
                            </li>
                            <li class="navegacao-categoria">
                                <a class="link-categoria" href="">religião e esoterismo</a>
                            </li>
                            <li class="navegacao-categoria">
                                <a class="link-categoria" href="">infantojuvenil</a>
                            </li>
                            <li class="navegacao-categoria">
                                <a class="link-categoria" href="">artes</a>
                            </li>
                            <li class="navegacao-categoria">
                                <a class="link-categoria" href="">ciência e tecnologia</a>
                            </li>
                            <li class="navegacao-categoria">
                                <a class="link-categoria" href="">negócios e economia</a>
                            </li>
                            <li class="navegacao-categoria">
                                <a class="link-categoria" href="">ensino de línguas</a>
                            </li>
                            <li class="navegacao-categoria">
                                <a class="link-categoria" href="">administração e negócios</a>
                            </li>
                            <li class="navegacao-categoria">
                                <a class="link-categoria" href="">medicina, saúde e bem-estar</a>
                            </li>
                        </ul>
                        <!--fim categorias-->
                        <hr>
                        <!--inicio tipo produto-->
                        <h5 class="h5 p-1 fw-light">Tipo de produto</h5>
                        <ul class="navbar-nav p-1">
                            <li class="navegacao-categoria">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type="checkbox" id="">
                                        </div>
                                    </div>
                                    <span class="ml-2 d-flex align-items-center ">revista</span>
                                </div>
                            </li>
                            <li class="navegacao-categoria">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type="checkbox" id="">
                                        </div>
                                    </div>
                                    <span class="ml-2 d-flex align-items-center">livro de colorir</span>
                                </div>
                            </li>
                            <li class="navegacao-categoria">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type="checkbox" id="">
                                        </div>
                                    </div>
                                    <span class="ml-2 d-flex align-items-center">livro de bolso</span>
                                </div>
                            </li>
                            <li class="navegacao-categoria">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type="checkbox" id="">
                                        </div>
                                    </div>
                                    <span class="ml-2 d-flex align-items-center">autobiografia</span>
                                </div>
                            </li>
                            <li class="navegacao-categoria">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type="checkbox" id="">
                                        </div>
                                    </div>
                                    <span class="ml-2 d-flex align-items-center">cartilha</span>
                                </div>
                            </li>
                            <li class="navegacao-categoria">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type="checkbox" id="">
                                        </div>
                                    </div>
                                    <span class="ml-2 d-flex align-items-center">artbook</span>
                                </div>
                            </li>
                        </ul>
                        <hr>
                        <!--fim tipo produto-->
                        <!--inicio filtro preços-->
                        <h5 class="h5 p-1 fw-light">Preços</h5>
                        <ul class="navbar-nav p-1">
                            <li class="navegacao-categoria">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type="checkbox" id="">
                                        </div>
                                        <span class="ml-2 d-flex align-items-center">até R$25,00</span>
                                    </div>

                                </div>
                            </li>
                            <li class="navegacao-categoria">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type="checkbox" id="">
                                        </div>
                                        <span class="ml-2 d-flex align-items-center">R$25,00 até R$50,00</span>
                                    </div>

                                </div>
                            </li>
                            <li class="navegacao-categoria">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type="checkbox" id="">
                                        </div>
                                        <span class="ml-2 d-flex align-items-center">R$50,00 até R$75,00</span>
                                    </div>

                                </div>
                            </li>
                            <li class="navegacao-categoria">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type="checkbox" id="">
                                        </div>
                                        <span class="ml-2 d-flex align-items-center">R$75,00 até R$100,00</span>
                                    </div>

                                </div>
                            </li>
                            <li class="navegacao-categoria">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type="checkbox" id="">
                                        </div>
                                        <span class="ml-2 d-flex align-items-center">R$100,00 até R$250,00</span>
                                    </div>
                                </div>
                            </li>
                            <li class="navegacao-categoria">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type="checkbox" id="">
                                        </div>
                                        <span class="ml-2 d-flex align-items-center">R$250,00 até R$500,00</span>
                                    </div>

                                </div>
                            </li>
                            <li class="navegacao-categoria">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type="checkbox" id="">
                                        </div>
                                        <span class="ml-2 d-flex align-items-center">R$500,00 até R$1000,00</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!--fim filtro preços-->
                    </div>
                </div>
                 <!--fim barra lateral-->
            </div>
    </section>
    <!--fim área de conteúdo-->
   

</body>

</html>